#backdrop-upload-form{
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.backdrop-overview-wrapper  {
  width: 100%;
  margin-top:10px;
  border-top: 1px solid #ccc;
}

.backdrop-overview-wrapper img{
  border: 1px solid #333;
}

#content .backdrop-overview-wrapper h2{
  margin-bottom: 10px;
}

.backdrop-active{
  width:100%;
  margin-bottom: 10px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

.backdrop-active img{
  width:300px;
  height: 225px;
}

.backdrop-active .left{
  float:left;
  width: 50%;
}

.backdrop-active .right{
  float:left;
  width: 50%;
}

.backdrop.inactive{
  width:50%;
  float:left;
  margin-bottom: 20px;
}

.backdrop .links ul{
  padding: 0;
  margin: 0;
}

.backdrop .links ul li {
  list-style: none;
  float:left;
  padding: 0 10px;
  border-right: 1px solid #529dd0;
}

.backdrop .links ul li.last{
  border-right: 0;
  padding-right: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}